<% provide(:title, "Teams") %>
<h1>Teams</h1>

<table class="bordered striped centered">
  <thead>
    <tr>
      <th>Team Name</th>
    </tr>
  </thead>
 
  <tbody>
    <% @teams.each do |team| %>
    <tr>
      <td>
      <%= link_to team.name, team %>
      </td>
    </tr> 
    <% end %>
  </tbody>
</table>
