<% provide(:title, @team.name) %>
<h1 class="center-align"><%= @team.name %></h1>
<h3>Members</h3>
<hr /><br />
<ul>
<% @team.users.each do |user| %> 
  <li><%= user.name %></li>
<% end %>
</ul>

<h3>Progress</h3>
<hr /><br />
<table border=1px>
  <tr>
  <% @questions.each do |q| %>
    <th><%= q.title %></th>
  <% end %>
  </tr>
  <tr>
    <% @questions.each do |q| %>

      <% if @answered.where(questionID: q.id, teamID: @team.id).empty? %>
        <td ></td>
      <% else %>
        <td bgcolor="green"></td>
      <% end %>
    <% end %>
  </tr>
</table>
