<h1>Coder's Conundrum</h1>
<p>Welcome to Coder's Conundrum! Go ahead and create an account and, if it hasn't been already, create a Team for you and your friends</p>
<%= link_to 'Create an Account', '#' %>
<br />
<%= link_to 'Create a team',     '#' %>
