<% provide(:title, "Home") %>
<h1>Coder's Conundrum</h1>
<p>Welcome to Coder's Conundrum! Create an account, or log in and get to answering questions!</p>
<%= link_to 'Create an Account', new_user_path, :class => 'flow-text' %>
<br />
<%= link_to 'Answer questions', questions_path, :class => 'flow-text' %>
