<% provide(:title, "Scoreboard") %>

<h1>Scoreboard</h1>

<% if @leader != nil %>
  <h3>Current Leader : <%= @leader.name %></h3>
<% end %>


<table class="bordered striped">
  <thead>
    <tr> 
      <td>Team</td>
      <% @questions.each do |q| %>
        <th><%= q.title %></th>
      <% end %>
    </tr>
  </thead> 
  <% @teams.each do |t| %>
    <tr>
      <td><%= t.name %></td>
      <% @questions.each do |q| %>
        <% if @answered.where(questionID: q.id, teamID: t.id).empty? %>
          <td></td>
        <% else %>
          <td bgcolor="green"></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
