<% provide(:title, "Users") %>
<h1>Users</h1>

<% @users.each do |user| %>
  <p><%= user.name %></p>
<% end %>

<%= link_to new_user_path, remote: true do %>
  <button class="btn btn-default">New</button>
<% end %>
<div id="user-form" style="display:none;"></div>
